*{
  background-color: #17171B;
  font-family: MyFont;
}

@font-face {
  font-family: 'MyFont';
  src: url('/fonts/Bebas_Neue/BebasNeue-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
